@model TARpe22ShopMyyrsepp.Models.Car.CarDeleteViewModel
<h1>Delete</h1>

<div>
    <dl class="row">


        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="form-group row">
            <label asp-for="ModelName" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ModelName)
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="form-group row">
            <label asp-for="Type" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Type)
        </div>

        <div class="form-group row">
            <label asp-for="Color" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Color)
        </div>

        <div class="form-group row">
            <label asp-for="FuelType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FuelType)
        </div>

        <div class="form-group row">
            <label asp-for="SeatCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.SeatCount)
        </div>

        <div class="form-group row">
            <label asp-for="Manufacturer" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Manufacturer)
        </div>

        <div class="form-group row">
            <label asp-for="ManufactureDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ManufactureDate)
        </div>

        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
        <div class="form-group row">
            <label asp-for="ModifiedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ModifiedAt)
        </div>

        @foreach (var images in Model.FileToApiCarViewModels)
        {
            <partial name="_Images" model="images" />
        }
    </dl>
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="index" asp-controller="cars" class="btn btn-primary">Cancel</a>
    </form>
</div>